#root-win {
	-fx-background-color: #EFEFEF;
	/* -fx-border-color: #000000; */
	/* -fx-border-width: 1.0px; */
	-fx-shape:
		"M20,100 h50 a2,2 0 0 1 2,2 v50 a2,2 0 0 1 -2,2 h-50 l2 1.002 2-1.00h 1 h-50 a2,2 0 0 1 -2,-2 v-50  a2,2 0 0 1 2,-2  z";
}

#root-mac {
	-fx-background-color: #EFEFEF;
	/* -fx-border-color: #000000; */
	/* -fx-border-width: 1.0px; */
	-fx-shape:
		"M5,100 h50 l2 -1.002 2 1.00 h-1  h50 a2,2 0 0 1 2,2 v50 a2,2 0 0 1 -2,2 h-100 a2,2 0 0 1 -2,-2 v-50 a2,2 0 0 1 2,-2 z";
}

#notification_bar {
	-fx-background-color: #EFEFEF;
	-fx-border-color: #419BF9;
	-fx-border-width: 1.5;
}

.separator {
	-fx-background-radius: 2.0;
	-fx-background-color: #D3D3D3;
}

#fancytext {
	-fx-font: 100px Tahoma;
-fx-alignment:center;
	/*   -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1; */
}

.main-pane {
	
}
#header-win{
-fx-background-color: E3E5EB;

-fx-shape:"M20,100 h50 a2,2 0 0 1 2,2 v50 a2,2 0 0 1 -2,2 h-50 l2 1.002 2-1.00h 1 h-50 a2,2 0 0 1 -2,-2 v-50 a2,2 0 0 1 2,-2 z";

}

#header-mac{
-fx-background-color: #E3E5EB;
/* / -fx-border-color: #000000; /
/ -fx-border-width: 1.0px; /
/ -fx-shape:"M12 25 l1 1.002 h11 v19 h-24 v-19 h11 1-1.00"; / */
-fx-shape:"M5,100 h50 l2 -1.002 2 1.00 h-1 h50 a2,2 0 0 1 2,2 v50 a2,2 0 0 1 -2,2 h-100 a2,2 0 0 1 -2,-2 v-50 a2,2 0 0 1 2,-2 z";
/* -fx-effect: dropshadow(three-pass-box, #E3E5EB, 0, 0, 0, 0); */
}
/****************************************************************

  ScrollBar Skin

****************************************************************/
.scroll-bar {
	/* -fx-background-color: rgb(96.0,96.0,96.0); */
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 2.0em;
}

.scroll-bar:vertical .track-background, .scroll-bar:horizontal .track-background
	{
	-fx-background-color: transparent;
	-fx-background-insets: 0.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: rgb(211.0, 211.0, 211.0);
	-fx-background-insets: 4.0 0.0 4.0 0.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: black;
	-fx-background-insets: 0.0 4.0 0.0 4.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
	-fx-background-color: black;
}

.scroll-bar:horizontal .thumb:pressed, .scroll-bar:vertical .thumb:pressed
	{
	-fx-background-color: black;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 2.0em;
	-fx-padding: 5.0;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 2.0em;
	-fx-padding: 5.0;
}

.scroll-bar:horizontal .increment-arrow {
	-fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	-fx-background-color: black;
	-fx-padding: 0.25em;
	-fx-rotate: -90.0;
}

.scroll-bar:vertical .increment-arrow {
	-fx-background-color: black;
	-fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	-fx-padding: 0.25em;
	-fx-rotate: 0.0;
}

.scroll-bar:horizontal .decrement-arrow {
	-fx-background-color: black;
	-fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	-fx-padding: 0.25em;
	-fx-rotate: 90.0;
}

.scroll-bar:vertical .decrement-arrow {
	-fx-background-color: black;
	-fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	-fx-padding: 0.25em;
	-fx-rotate: -180.0;
}

.scroll-bar:vertical:focused, .scroll-bar:horizontal:focused {
	-fx-background-color: transparent, rgb(96.0, 96.0, 96.0),
		rgb(96.0, 96.0, 96.0);
}